@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fff;
    --foreground: #3f3f3f;

    --card: #f1f1f1;
    --card-foreground: #000;

    --popover: #fff;
    --popover-foreground: #000;

    --primary: #42a552;
    --primary-foreground: #fff;

    --warning: #f2cb04;
    --warning-foreground: #000;

    --secondary: #1f66c4;
    --secondary-foreground: #fff;
    --secondary-foreground-muted: #e9f0f8;

    --muted: #e5e5e5;
    --muted-foreground: #a0a0a0;

    --accent: #e66375;
    --accent-foreground: #fff;

    --destructive: #ff3b30;
    --destructive-foreground: #fff;

    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #d3d3d3;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
